body{
    font-family: 'Manrope', sans-serif;
}

#home{
    background-color: #10100f;
}
nav a:hover{
border-bottom: 2px solid orange;
}
.margin-top-tool{
 margin-top:5rem;
}
.colorful-btn{
    background-color: #E76F51;
    color:white;
}

/*----------------------- Featured Bikes Section----------------------------
----------------------------------------------------------------------------- */
.hr-sizing{
    padding: .1rem;
    width: 90px;
    background-color:#E76F51;
    border:1px solid #E76F51;
}
.grayscale img{
filter: grayscale(100%);
}

/*----------------------- Client Voice section--------------------------------
-------------------------------------------------------------------------------*/
.common-title-color{
    color:#E76F51;
}
.client-info{
    width:320px;
    border:1px solid rgb(247, 227, 227);
}
/*----------------------- Letest Bike Section--------------------------------
-------------------------------------------------------------------------------*/
.border-btn{
    border:1px solid #E76F51;
    border-radius: 5px;
}

/*----------------------- Model Section--------------------------------
-------------------------------------------------------------------------------*/
.model-img{
transition: width 2s ;
}
.model-img:hover{
    transform: scale(1.2);
    
}
/*------------------------- footer section -----------------------------------------
-----------------------------------------------------------------------------------*/
footer a{
    text-decoration: none;
    color:white;
}
footer a:hover{
    color:honeydew
}
