.header-box{
    background-color: #264653;
    ;
}
.colorful-btn{
    background-color: #E76F51;
    color:white;
}

/*----------------------- Featured Bikes Section----------------------------
----------------------------------------------------------------------------- */
.grayscale img{
filter: grayscale(100%);
}

/*----------------------- Latest-bike-section --------------------------------
-------------------------------------------------------------------------------*/
