body{
    font-family: 'Manrope', sans-serif;
}
.header-box{
    background-color: #264653;
    ;
}
.colorful-btn{
    background-color: #E76F51;
    color:white;
}

/*----------------------- Featured Bikes Section----------------------------
----------------------------------------------------------------------------- */
.grayscale img{
filter: grayscale(100%);
}

/*----------------------- Client Voice section--------------------------------
-------------------------------------------------------------------------------*/
.client-info{
    width:320px;
    border:1px solid rgb(247, 227, 227);
}

/*------------------------- footer section -----------------------------------------
-----------------------------------------------------------------------------------*/
footer a{
    text-decoration: none;
    color:white;
}
footer a:hover{
    color:honeydew
}

/* .apps{
width:85%;
height:70px;
} */

/* .apps img{
    width:70%;
    height: 70%;
} */